
<form class="layui-form" id="search">

    <div class="demoTable">

        &nbsp;&nbsp;开始时间：
        <div class="layui-inline">
            <div class="layui-input-inline">
                <input type="text" class="layui-input" READONLY style="cursor:pointer" size='10' name="sdate" id="sdate" placeholder="开始时间">
            </div>
        </div>
        &nbsp;&nbsp;结束时间：
        <div class="layui-inline">
            <div class="layui-input-inline">
                <input type="text" class="layui-input" READONLY style="cursor:pointer" size='10' name="edate" id="edate" placeholder="结束时间">
            </div>
        </div>

        <button class="layui-btn layui-btn-normal" lay-submit lay-filter="formSub" id="sub"><i class="layui-icon layui-icon-search"></i></button>
        <button type="reset" class="layui-btn layui-btn-warm" id='reset'>重置</button>
    </div>
</form>

<table class="layui-hide" id="table" lay-filter="table"></table>

<!--图片-->
<script type="text/html" id="shezss">
    <img style="border-radius: 2px;width: 50px;height: 50px !important;"  lay-event="showbimg" src="{{d.headimg}}" />
</script>

<script type="text/html" id="toolbarTable">
    <div class="layui-btn-container">
        <a class="layui-btn layui-btn-danger layui-btn-sm" data-key="uid" lay-event="del_all" data-obj="ids[]" data-uri="{:url('delete')}"><i class="layui-icon">&#xe640;</i>批量删除</a>
    </div>
</script>

<script type="text/html" id="barDemo">
    <a href="{:url('access')}?id={{d.id}}" class="layui-btn layui-btn-xs layui-btn-normal">配置规则</a>
    <a href="javascript:;" lay-event="window" class="layui-btn layui-btn-normal layui-btn-xs" data-maxmin="1" data-title="用户详情"  data-width="700" data-height="500"  data-uri="{:url('select')}?uid={{d.uid}}"><i class="layui-icon">&#xe705;</i>详情</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del" data-uri="{:url('delete')}" data-id="{{d.uid}}" ><i class="layui-icon">&#xe640;</i>删除</a>

</script>
<script type="text/html" id="is_lock">
    {{# if(d.id==1){ }}
    <input type="checkbox" disabled name="status" value="{{d.id}}" lay-skin="switch" lay-text="开启|关闭" lay-filter="status" checked>
    {{# }else{  }}
    <input type="checkbox" name="status" value="{{d.id}}" lay-skin="switch" lay-text="开启|关闭" lay-filter="status" {{ d.status == 1 ? 'checked' : '' }}>
    {{# } }}
</script>
<script type="text/html" id="enable">
    {{# if(d.id==1){ }}
    <input type="checkbox" disabled name="status" value="{{d.id}}" lay-skin="switch" lay-text="开启|关闭" lay-filter="status" checked>
    {{# }else{  }}
    <input type="checkbox" name="status" value="{{d.id}}" lay-skin="switch" lay-text="开启|关闭" lay-filter="status" {{ d.status == 1 ? 'checked' : '' }}>
    {{# } }}
</script>

<script type="text/javascript">
    var tablePage_1 = {:json_encode($tablePage_1)}; console.log(tablePage_1);
    $(function(){
        layui.use(['table','form','laydate'], function(){
            var table = layui.table,form = layui.form,laydate = layui.laydate;
            //自定义颜色
            laydate.render({
                elem: '#sdate'
                ,theme: '#2F4056'
            });
            laydate.render({
                elem: '#edate'
                ,theme: '#2F4056'
            });
            tableOptions = {
                elem: '#table'
                ,url: '{:url("dataIndexGet")}'
                ,tablePage_1:tablePage_1
                ,toolbar: '#toolbarTable'
                ,cellMinWidth:120
                ,cols: [[
                    {checkbox: true, fixed: true}
                   ,{field: 'id', title: 'ID', width: 80,align: 'center', fixed: true, sort: true}
                   ,{field: 'name', title: '角色组', width: 150, fixed: true}
                   ,{field: 'is_lock', title: '锁定状态'}
                   ,{field: 'enable', title: '启用状态'}
                   ,{field: 'create_time', title: '添加时间'}
                   ,{field: 'update_time', title: '修改时间'}
                   ,{field: 'status', title: '说明'}
                   ,{title:'操作',width:250, align:'center', toolbar: '#barDemo',fixed: 'right'}

                ]]
                ,done: function (res, curr, count) {

                }
                ,page: true
                ,height: 680
                ,limits:[10,20,40,80,100,200,400,600,800]
                ,text: {
                    none: '暂无数据!'
                }

            };
            /*方法级渲染*/
            table.render(tableOptions);
            form.on('select(changeStatus)', function (e) {
                $('#sub').click();
            });
            /*表格重载*/
            form.on('submit(formSub)', function(data){
                var field = data.field;
                table.reload('table', {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                    ,where: {
                        searchtype: field.searchtype,
                        keyword: field.keyword,
                        searchtype3: field.searchtype3,
                        searchtype4: field.searchtype4,
                        sdate: field.sdate,
                        edate: field.edate
                    }
                });
                return false;
            });
        });
    })
</script>
